mixin pie(options, myClass)
  - let v=0
  figure.figure(class=(myClass ? myClass : false))
    .figure__content
      svg(width="100%" height="100%" viewBox="0 0 38 38" class="figure__donut")
        circle(cx="19" cy="19" r="15.91549430918954" fill="#fff")
        circle(cx="19" cy="19" r="15.91549430918954" fill="transparent" stroke="#d2d3d4" stroke-width="6")
        - for (let i=0; i<options.value.length; i++)
          - v += options.value[i]
          circle(class="figure__segment" cx="19" cy="19" r="15.91549430918954" 
                  fill="transparent"
                  stroke=""+options.color[i] 
                  stroke-width="6" 
                  stroke-dasharray=""+options.value[i] +" "+(100-options.value[i]) 
                  stroke-dashoffset=(i==0 ? 25 : 100 - (v - options.value[i]) + 25))
          g.figure__text-block(fill=""+options.color[i])
            text(class="figure__text" x="50%" y="-5%")= options.name[i]



//- +pie({name: ['JavaScript','JQuery','Html','Css'],
//-       value: [15,20,40,25], //// +all <= 100
//-       color: ['#e75735','#747474','#e5e5e5','#4eb7a8']})