mixin input(options)
  p.inp
    input(class="inp__item "+(options.thisClass ? options.thisClass : "") 
      type=(options.type?options.type:"text") 
      name=(options.name?options.name:"")
      placeholder=(options.placeholder?options.placeholder:""))
    span.inp__msg.inp__msg--err Error
    span.inp__msg.inp__msg--ok  Thanks!

mixin textarea(options)
  p.inp
    textarea(class="inp__item "+(options.thisClass ? options.thisClass : "")
      name=(options.name ? options.name : false)
      placeholder=(options.placeholder ? options.placeholder : ""))

mixin radioOffON(options)
    label.offon
      input(class="offon__input" type="radio"
        name=(options.name ? options.name : false)
        checked=(options.checked ? "checked" : false)
        disabled=(options.disabled ? "disabled" : false))
      p.offon-btn
        span(class="offon-btn__item offon-btn__item--off") Off
        span(class="offon-btn__item offon-btn__item--on") On
      | #{text}

mixin boxes(options)
  label.check
    input(class="check__input" type="checkbox" 
      name=(options.name ? options.name : false) 
      checked=(options.checked ? "checked" : false) 
      disabled=(options.disabled ? "disabled" : false))
    span.check__box
    | #{options.text}