mixin news(options, myClass)
  .news-events(class=(myClass ? myClass : false))
    .news-events__img
      img(src="assets/img/"+options.photoname alt=""+options.alt)
    if options.type == 'news'
      .news-events__content.news-content
        h2.news-content__title= options.title
        span.news-content__date= options.date
        p.news-content__text= options.text
    if options.type == 'events'
      .news-events__content.events-content
        p.events-content__date
          span= options.day
          = options.month
        h3.events-content__title= options.title
        p.events-content__text= options.text
        a(href=""+(options.link ? options.link : '#')
          class="events__addtocalendar")= options.linktext


//- +news({photoname: 'velik.png', 
//-       alt: '',
//-       type: 'news/events',
//-       title: 'It’s all going downhill',
//-       date: '24  AUGUST  2013',
//-       text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.'}, 'c-newsevents')